<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informações do Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kayky Bastos</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><strong>Turma:</strong> ADS0201M</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Turno:</strong> Manhã</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><strong>Unidade:</strong> Campus Bonsucesso</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>